@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

h2,
.offer {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  text-align: center;
}

h4 {
  font-weight: 600;
}

footer {
  background-color: #525252;
}

span {
  font-size: 2rem;
}

.offer {
  color: #00ddc6;
}
.logo {
  max-width: 150px;
}

.social-media-icons img {
  display: inline-block;
  width: 15%;
  margin-right: 1em;
}

.btn {
  background-color: #00ddc6;
  border: transparent;
  transition: 0.3s;
  margin: 1rem 0;
}

.btn:hover {
  background-color: #019384;
}
/* 
.list-group-item {
  display: flex;
border: 1px solid red;
} */

.img-fluid {
  width: 15%;
}

#active {
  color: #00ddc6;
}

@media (max-width: 600px) {
  * {
    text-align: center;
  }

  .copyright p {
    display: block;
    text-align: center;
    width: 100%;
  }
}
